// VARIABLES
$white-color: #fff;
$black-color: #262626;
$primary-color: #4f3422;
// $secondary-color: #d24038;
$secondary-color: #ff000d;
$text-color: #3d465a;
// $light-bg: #f7f3eb;
$light-bg: #fff4f4;

// BREAKPOINTS
$too-small-mobile: 322px;
$mid-small-mobile: 340px;
$small-mobile: 376px;
$mid-mobile: 500px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$semi-mid-desktop: 1400px;
$mid-desktop: 1450px;
$large-desktop: 1700px;

// FONT
$heading-font: "Bigola Display";
$primary-font: "BB Noname";
